.Poll {
  height: 100vh;
}
.poll-title {
  padding: 80px 0 80px;
  margin: 0;
  font-size: 70px;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
}
.poll-description {
  width: 90%;
  margin: 0 auto 30px;
  font-size: 50px;
  line-height: 1.5;
  text-align: center;
}
.poll-vis {
  position: relative;
  width: 90%;
  margin: 0 auto;
  height: 300px;
}

.poll-number {
  position: absolute;
  z-index: 2;
  top: calc(50% - 27px);
  transform: translate(-5px, 0);
  font-size: 20px;
  color: rgba(0, 0, 0, 0.577);
}

.poll-number:after {
  content: "";
  position: absolute;
  display: block;
  height: 15px;
  width: 1px;
  top: 21px;
  left: 5px;
  background: rgba(0, 0, 0, 0.324);
}

.poll-line {
  position: absolute;
  z-index: 2;
  width: 100%;
  top: 50%;
  height: 2px;
  background: #555;
}
.poll-value {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 30px;
  width: 100%;
  text-align: center;
}
.poll-indicator {
  position: absolute;
  height: 120px;
  top: 50%;
  transform: translate(0, -60px);
}
.poll-indicator.red {
  transition: left 0.2s;
  background: rgb(202, 77, 77);
}
.poll-indicator.green {
  transition: right 0.2s;
  background: rgb(46, 169, 46);
}

.poll-answer {
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  background: rgba(0, 0, 0, 0.742);
}

.poll-answer.green {
  background: rgba(0, 128, 0, 0.742);
}
.poll-answer.red {
  background: rgba(255, 0, 0, 0.753);
}

.poll-answer span {
  display: block;
  margin: auto;
  font-size: 80px;
  font-weight: 700;
  color: #fff;
}

.Poll.bg-00 {
  background: rgb(219, 233, 255);
}
.Poll.bg-01 {
  background: rgb(255, 207, 207);
}
.Poll.bg-02 {
  background: rgb(247, 255, 200);
}
.Poll.bg-03 {
  background: rgb(217, 255, 184);
}
.Poll.bg-04 {
  background: rgb(231, 220, 255);
}
.Poll.bg-05 {
  background: rgb(255, 224, 246);
}
.Poll.bg-06 {
  background: rgb(226, 240, 255);
}
.Poll.bg-07 {
  background: rgb(223, 253, 255);
}
